<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>
<div class="container">
    <h3 class="page_title">Note List</h3>

    <div class="option">
        <div class="option_1">
            <form th:action="@{/notes/create}">
                <input class="input_submit" type="submit" value="New Note">
            </form>
        </div>
        <div class="option_2">
            <a th:href="@{'/notes'(page=${notes.number - 1},size=5)}" th:if="${notes.hasPrevious()}">
                Previous </a>
            &nbsp;<span th:text="${notes.number + 1}+' / '+${notes.totalPages}"></span>&nbsp;
            <a th:href="@{'/notes'(page=${notes.number + 1},size=5)}" th:if="${notes.hasNext()}">Next </a>
        </div>
        <form class="search_form">
            <h4>Search by title:</h4>
            <input class="input_text" type="text" name="titleSearch">
            <input class="input_submit" type="submit" value="Search">
        </form>

    </div>
    <form>
        <table id="table">
            <thead>
            <tr>
                <td>No</td>
                <td><a th:href="@{/notes(sort='title')}">Title</a></td>
                <td><a th:href="@{/notes(sort='noteType')}">NoteType</a></td>
                <td>Edit</td>
                <td>Delete</td>
                <td>View</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="each:${notes}">
                <td th:text="${eachStat.count}"></td>
                <td th:text="${each.title}"></td>
                <td><a th:href="@{/notes/(noteTypeId=${each.noteType.id})}" th:text="${each.noteType.name}"></a></td>
                <td><a th:href="@{/notes/edit/__${each.id}__}">Edit</a></td>
                <td><a th:href="@{/notes/delete/__${each.id}__}">Delete</a></td>
                <td><a th:href="@{/notes/view/__${each.id}__}">View</a></td>
            </tr>
            </tbody>
        </table>
    </form>
    <footer th:replace="layout::footer"></footer>
</div>
</body>
</html>